<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <title>Kopfrechentrainer</title>
    </head>
    <body>
        <script type="text/javascript">
            $( document ).ready(function() {
                $("#refresh").hide();
            });
            $(function () {
                $("form").submit(function (event) {
                    var url = "/check-results";
                    var a = $("#a").val();
                    var b = $("#b").val();
                    var user_res = $("#result").val();
                    var data = {
                        a: a,
                        b: b,
                        result: user_res
                    };
                    $.ajax({
                        dataType: "json",
                        url: url,
                        data: data,
                        success: function (data) {
                            $("#message").text(data.data.message)
                            }
                    });
                    $("#refresh").show();
                    event.preventDefault(event);
                });
                $("#refresh").click(function () {
                    location.reload(true);
                });
            });
        </script>
        <form>
            <p>
                {{ a }} + {{ b }} =
                <input type="text" id="result">
                <input type="hidden" id="a" value="{{ a }}">
                <input type="hidden" id="b" value="{{ b }}">
                <input type="submit" value="Ergebnis absenden">
                <button type="button" id="refresh">Neue Übung</button>
            </p>
        </form>
        <p id="message"></p>
    </body>
</html>